.out{
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    font-style: inherit;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 150px 0;
}

.signup {
    font-size: 14px;
}